# ==========================================================
#      Core Deep Learning & SDXL Training Libraries
# ==========================================================
# NOTE: PyTorch and Flash Attention are installed separately in install.bat.

# Core Hugging Face / Diffusers ecosystem (Latest compatible versions will be installed)
diffusers
transformers
accelerate
safetensors

# 8-bit optimizer and memory optimization libraries
bitsandbytes

# Xformers - Installed with the same index as PyTorch for compatibility
xformers --index-url https://download.pytorch.org/whl/cu128

# ==========================================================
#              GUI and Helper Libraries
# ==========================================================
PyQt6
lpips
pyqtgraph
triton-windows
opencv-python-headless
Pillow
tqdm
numpy
protobuf==4.25.3 # Pinning to a more compatible version <5.0
psutil
pywin32
scipy
pandas
matplotlib
xformers
ultralytics
tomesd
peft